<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hong.dao.CommunicateMapper">
  <resultMap id="BaseResultMap" type="com.hong.bean.Communicate">
    
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fromUser" jdbcType="VARCHAR" property="fromUser" />
    <result column="toUser" jdbcType="VARCHAR" property="toUser" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="sendTime" jdbcType="TIMESTAMP" property="sendtime" />
  </resultMap>
  <sql id="Base_Column_List">
    
    id, fromUser, toUser, message, sendTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    
    select 
    <include refid="Base_Column_List" />
    from communicate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    
    delete from communicate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hong.bean.Communicate" useGeneratedKeys="true" keyProperty="id">
    
    insert into communicate (id, fromUser, toUser, 
      message, sendTime)
    values (#{id,jdbcType=INTEGER}, #{fromUser,jdbcType=VARCHAR}, #{toUser,jdbcType=VARCHAR}, 
      #{message,jdbcType=VARCHAR}, #{sendtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hong.bean.Communicate" useGeneratedKeys="true" keyProperty="id">
    
    insert into communicate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fromUser != null">
        fromUser,
      </if>
      <if test="toUser != null">
        toUser,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="sendtime != null">
        sendTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fromUser != null">
        #{fromUser,jdbcType=VARCHAR},
      </if>
      <if test="toUser != null">
        #{toUser,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null">
        #{sendtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hong.bean.Communicate">
    
    update communicate
    <set>
      <if test="fromUser != null">
        fromUser = #{fromUser,jdbcType=VARCHAR},
      </if>
      <if test="toUser != null">
        toUser = #{toUser,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null">
        sendTime = #{sendtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hong.bean.Communicate">
    
    update communicate
    set fromUser = #{fromUser,jdbcType=VARCHAR},
      toUser = #{toUser,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      sendTime = #{sendtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>